.botao_secundario, .botao_principal{
    width: max(20px,1vw);
    height: max(20px,1vw);;
    padding: 0.1;
}
.botoes_secundarios{
    display: flex;
    justify-content: center;
}
body{
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}
button{
    padding: 0;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2vw;
}
nav{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0%;
    right: 1%;
    z-index: 2;
}

section{
    display: flex;
    flex-direction: column;
    padding: 0 6vw;
}
.parte1, .parte2, .parte3, .parte4{
    display: none;
}
.pagina_atual{
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: max(28px,4vw);
    padding: 0 2vw 1vw;
}
h2{
    padding: 2vw 0;
}
.text_block--pg{
    max-width: max(50vw,250px);
}
.fotos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foto_editavel--1{
    z-index: 1;
    transform: rotate(5deg) translateY(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: max(180px,16vw);
}
.foto_editavel--2{
    transform: rotate(-3deg) translateX(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: max(180px,16vw);
}
.foto_editavel--3{
    width: max(200px, 20vw);
    transform: rotate(3deg) translateX(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button_next , .button_back{
    margin: 0 0.5rem;
    background-color: #111111;
    color: #d8cbd3;
    padding: max(0.5rem,1vw);
    border-radius: 25px;
    font-size: max(12px,1.2vw);
}
.button_next:hover , .button_back:hover{
    transform: scale(1.2);
}