.botao_secundario, .botao_principal{
    width: max(20px,1vw);
    height: max(20px,1vw);;
    padding: 0.1;
}
.botoes_secundarios{
    display: flex;
    justify-content: center;
}
body{
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}
button{
    padding: 0;
}
nav{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0%;
    right: 1%;
    z-index: 2;
}

section{
    display: flex;
    flex-direction: column;
}
.bloco{
    display: none;
}
.pagina_atual{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.caixa{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2vw;
    position: fixed;
    bottom: 5%;
}

h1{
    font-size: max(28px,4vw);
    padding: 0 2vw 1vw;
}
h2{
    padding: 2vw 0;
}
.text_block--pg{
    max-width: max(50vw,250px);
}
.fotos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foto_editavel--1{
    z-index: 1;
    transform: rotate(5deg) translateY(8px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: max(180px,16vw);
}
.foto_editavel--2{
    transform: rotate(-3deg) translateX(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: max(180px,16vw);
}
.foto_editavel--3{
    width: max(200px, 20vw);
    transform: rotate(3deg) translateX(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button_next , .button_back, .button_redirection{
    margin: 0 0.5rem;
    background-color: #111111;
    color: #d8cbd3;
    padding: max(0.5rem,1vw);
    border-radius: 25px;
    font-size: max(12px,1.2vw);
}
.button_next:hover , .button_back:hover{
    transform: scale(1.2);
}

.caixa.filmes{
    padding-bottom: 1rem;
}

.galeria_filmes{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(280px, 40vw);
    padding-top: 10vw;
}
.galeria_filmes h2{
    position: absolute;
    top: 5%;
}
.container{
    position: relative;
    width: max(280px, 35vw);
}
.caixa_galeria{
    overflow-x: auto;
    overflow: hidden;
}
.controls{
    position: absolute;
    margin: 0;
    bottom: 30%;
    z-index: 100;
    fill: #111111;
    padding: .8rem;
    width: max(14px,3vw);
    height: max(14px,3vw);
    opacity: .3;
}
.controls:hover{
    transform: scale(1.2);
    opacity: 1;
}
.button_back--f{
    left:0%;
}
.button_next--f{
    right: 0%;
}
.galeria{
    display: flex;
    flex-wrap: nowrap;
}
.filme_galeria{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 10px;
}
.img_galeria{
    width: 150px;
    height: 250px;
    border-radius: 10px;
    opacity: 0.3;
}
.filme_galeria p{
    display: none;
}
.filme_galeria.filme_atual{
    background-color: #111111;
}
.filme_galeria.filme_atual p{
    display: block;
    color: #d8cbd3;
    font-size: max(0.9vw,10px);
    padding: 0.5rem 0 0;
}
.filme_galeria.filme_atual .img_galeria{
    opacity: 1;
}