@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Lexend:wght@200;400&display=swap');

:root{
    --dark_color: #111111;
    --pretty_color: #d17ab0;
}

@keyframes pulsar {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.5;
    }
}

@keyframes mudar_cor {
    0%{
        fill: var(--dark_color);
    }
    100%{
        fill: var(--pretty_color)
    }
}

*{
    margin: 0;
    font-family: 'Lemon', serif;
    font-family: 'Lexend', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(imagens/fundo_aquarela.jpg);
    background-size: cover;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}
h1{
    font-family: 'Lemon';
    font-size: max(24px,5vw);
    margin: 0.5rem 0;
    color: var(--dark_color);
}
h2{
    font-size: max(18px,1.9vw);
    color: var(--dark_color);
}
h3{
    font-size: max(14px,1.6vw);
    color: var(--dark_color);
}
p{
    font-size: max(12px,1.3vw);
    color: var(--dark_color);
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.colagem_hedy{
    width: max(280px,35vw);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
.text_block{
    width: max(280px,45vw);
    text-align: center;
    margin-bottom: 5vh;
}
.conteudo_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-112deg);
}
.botao_secundario, .botao_principal{
    width: max(30px,2vw);
    height: max(30px,2vw);
    background-color: var(--pretty_color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.2);
    transform: rotate(112deg);
}
.botao_principal{
    background-color: var(--dark_color);
    fill: #DFDBE2;
    cursor: pointer;
}

.botao_principal:hover{
    transform: rotate(112deg) scale(1.1);
    
}
.botao_secundario:hover{
    transform: scale(1.1);
}

span{
    position: absolute;
    transform: rotate(calc(var(--i)*180deg/4)) translateY(120px);
}

.botao_secundario{
    transform: (calc(var(--i)*180deg/-4))
}
#heart{
    transform: rotate(-68deg);
}
#heart:hover{
    transform: rotate(-68deg) scale(1.1);
}
#movie{
    transform: rotate(-22deg);
}
#movie:hover{
    transform: rotate(-22deg) scale(1.1)
}
#wireless{
    transform: rotate(22deg);
}
#wireless:hover{
    transform: rotate(22deg) scale(1.1)
}
#curious{
    transform: rotate(68deg);
}
#curious:hover{
    transform: rotate(68deg) scale(1.1)
}

footer{
    display: flex;
    justify-content: end;
    padding-right: 0.2rem;
}
footer button{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 1rem 0.5rem 1rem 0;
}
footer p{
    margin: 0 1rem;
    align-self: center;
}
.footer_icon{
    width: max(12px,1vw);
    color: var(--dark_color);
    animation: pulsar 0.5s infinite alternate, mudar_cor 1s infinite alternate;
}
.social_icons{
    width: max(30px,2vw);
    height: auto;
    fill: var(--dark_color);
}
.social_icons:hover{
    transform: scale(1.2);
    animation: mudar_cor 0.2s;
    fill: var(--pretty_color);
}